each course, slug in public._data.courses
 .course.animated.fadeIn(class='#{slug}')
  h2
   i.fa(class='#{course.faIcon}', style='background-color: #{course.color};')
   a(href='/#{slug}') #{course.name}