.course.animated.fadeInDown(class='uiDesign page')
 h2
  i.fa(class='#{public._data.courses.uiDesign.faIcon}', style='background-color: #{public._data.courses.uiDesign.color};')
  | #{public._data.courses.uiDesign.name}
.items
 each item, slug in public._data.courses.uiDesign.resources
  .item(class="#{slug} #{item.paid == true ? 'paid' : 'free'}")
   h2 
    a(href='#{item.url}', target='_blank') #{item.name}
    span.hostname
     | #{item.url}
 .item.add
  h2
   a(href='https://github.com/krrishd/t2g-resource-hub/edit/gh-pages/_harp/_data.json', target='_blank')
    i.fa.fa-plus-square-o
    | Add Items